<!DOCTYPE html>
<html>
<head>
	<title>Map | OGDP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/uikit.min.css" />
	<script src='js/conf.js'></script>
	<script src="js/vue.js"></script>
	<script src="js/uikit.min.js" defer></script>
	<script src="js/uikit-icons.min.js" defer></script>
	<script src="js/jquery.js"></script>
	<script src="js/theme_model.js"></script>
	<script src='js/oias_map.js'></script>
	<script src='js/oias_layer.js'></script>
	<script src='js/mapbox-gl.js'></script>
	<script src='js/style.js'></script>
	<link href='css/mapbox-gl.css' rel='stylesheet' />
	<style type="text/css">
	li {
		list-style-type:none;
	}
	h4{
		text-align: left
	}
	#map1 {
		position: absolute;
		top:0;
		left:250px;
		bottom: 0;
		width: 100%;
	}
	hr {
		border: 0;
		background-color: rgb(198, 210, 225);
		height: 1px;
	}
	#layer_group,#info_model{
		box-shadow: darkgrey 0px 0px 4px 0px
	}
	#data_group{
		border-bottom: 0.5px solid black
	}
	#layer-edit {
		border-left: 1px solid rgb(198, 210, 225);
		box-shadow: darkgrey 2px 0px 3px 0px
	}
	#title,
	#layername,#data_title,#compare_title,#model_title {
		font-family: 汉仪中黑简
	}
	input{
		width:80px
	}
	@media (min-width: 960px){
		.uk-offcanvas-bar{
			width: 300px;
			padding: 20px 20px;
		}
		.uk-form-horizontal .uk-form-label {
			width: 50px;
		}
		.uk-form-horizontal .uk-form-controls {
			margin-left: 60px;
		}
		.uk-modal-dialog{
			width:70%;
			height:90%
		}
		.uk-modal-body{
			height:80%
		}
		:not(.uk-offcanvas-flip)>.uk-offcanvas-content-animation {
			left: 250px;
		}
		.uk-input, .uk-select:not([multiple]):not([size]) {
			height:26px
		}
	}
</style>
</head>
<body>
		<!-- 顶栏 -->
		<div id="model_info" style="position:absolute;left:13%;width:87%;height:5.5%;border-bottom: 0.5px solid rgb(229, 229, 229)">
			<h4 id="model_title" style="margin-top: 10px;margin-left: 10px;width: 500px;float: left">主页/{{ws_name}}/{{task_name}}/{{mi_name}}</h4>	
			<a id="return" href="./task.html?pjwsid=" style="float: right;margin-top: 12px;margin-right: 10px">返回任务界面</a>
		</div>
		<!-- 制图/比选界面 -->
		<div id="map1" style="position:absolute;width:87%;top:5.5%;height:94.3%">
			<ul uk-tab>
				<li><a href="#">制图</a></li>
				<li><a href="#">比选</a></li>
			</ul>
			<ul class="uk-switcher">
				<div style="width:100%;height:96.5%;top:32px;position:absolute">
					<div id="map" style="width:100%;height:100%;position:absolute"></div>
					<button class="uk-button uk-button-default" type="button" style="left:93%;margin-top:5px;position:absolute;z-index:4" onclick="showmodal()">模版</button>
				</div>
				<div style="width:100%;height:96.5%;top:32px;position:absolute" uk-overflow-auto>
					<div id="compare" class="uk-grid uk-flex" style="width:100%;height:100%;position:absolute;margin-left: 0">
						<div v-for="(item,index) in tMaps" class="compare" style="padding-left:0">
							<div class="uk-card uk-card-hover uk-card-body" v-on:click="" style="width:750px;height:412px;padding: 0">
								<div v-bind:id="index" style="width:100%;height:100%;position:absolute">
									<li><a uk-icon="icon: trash" v-on:click="deleteCompare(index)" uk-tooltip="删除"></a></li>
								</div>
							</div>
						</div>
						<div class="uk-card uk-card-hover uk-card-body" style="width:750px;height:412px;padding: 0;text-align: center" uk-toggle="#compare_select">
							<span uk-icon='plus-circle' ratio=12 style="margin-top: 86px"></span>
						</div>
					</div>
				</div>
			</ul>
		</div>
		<!-- 地图模版选择框-->
		<div id="modal-example" uk-modal>
			<div class="uk-modal-dialog">
				<button class="uk-modal-close-default" type="button" style="background:transparent" uk-close></button>
				<div class="uk-modal-header">
					<h3 class="uk-modal-title">选择地图模版</h3>
				</div>
				<div id="map_template" class="uk-modal-body" uk-overflow-auto>
					<h4>空白模版</h4>
					<div class="uk-grid uk-flex">
						<div class="uk-child-width-1-3 uk-grid-match uk-margin" uk-grid>
							<div v-for="(item,index) in models" v-if="item.type=='空白模版'" v-bind:index="index">
								<div id="model" class="uk-card uk-card-hover uk-card-body" v-on:click="addModel(item,index)">
									<img v-bind:src="item.url" style="width:100%;height:90%">
									<li>{{item.name}}</li>
								</div>
							</div>
						</div>
					</div>
					<h4>通用模版</h4>
					<div class="uk-grid uk-flex">
						<div class="uk-child-width-1-3 uk-grid-match uk-margin" uk-grid>
							<div v-for="(item,index) in models" v-if="item.type=='通用模版'" v-bind:index="index">
								<div id="model" class="uk-card uk-card-hover uk-card-body" v-on:click="addModel(item,index)">
									<img v-bind:src="item.url" style="width:100%;height:90%">
									<li>{{item.name}}</li>
								</div>
							</div>
						</div>
					</div>
					<h4>综合模版</h4>
					<div class="uk-grid uk-flex">
						<div class="uk-child-width-1-3 uk-grid-match uk-margin" uk-grid>
							<div v-for="(item,index) in models" v-if="item.type=='综合模版'" v-bind:index="index">
								<div class="uk-card uk-card-hover uk-card-body" v-on:click="addModel(item,index)">
									<img v-bind:src="item.url" style="width:100%;height:90%">
									<li>{{item.name}}</li>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 图层编辑栏-->
		<div id="layer-edit" style="left:13%;position:absolute;height:100%;width:15.6%;top:0;background-color:rgb(244,247,251);z-index:2;display:none">
				<h5 id="layername" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top: 7%;margin-bottom: 5%;margin-left: 3%">{{layer.name}}</h5>
				<ul uk-tab>
						<li><a href="#">数据</a></li>
						<li><a href="#">样式</a></li>
				</ul>
			<ul class="uk-switcher">
				<div>
					<div class="uk-placeholder uk-text-center" v-on:drop="dropDown" v-on:dragover="allowDrop">{{sourceLayer}}</div>
				</div>
				<div>
					<table class="uk-table">
						<tbody>
							<tr>
								<td>分级字段</td>
								<td><select class="uk-select" id="fields" onchange="changeField()"><option value="default">--选择分级字段--</option></select></td>
							</tr>
							<tr>
								<td>颜色</td>
								<td><canvas id="myCanvas" width="89" height="19"></canvas></td>
								<td>
									<a>更改</a>
									<div id="color_drop" uk-dropdown="mode: click" style="background-color:rgb(244,247,251);max-height: 200px" uk-overflow-auto>
										<div v-for="(c,index) in bands" v-if="c.color.length>=layer.paint.classify_num" class="uk-card uk-card-hover" style="height:19px;margin-bottom: 3px"
										 v-on:click="changecolor(c.name)">
											<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
												<rect v-for="(item,index) in c.color" v-bind:x="index*130/c.color.length" y="0" v-bind:width="130/c.color.length" height="19"
												 v-bind:style="{fill:item,strokeWidth:0}" />
											</svg>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>符号</td>
								<td><iframe id="mySymbol" v-bind:src="symbol_show" width="32" height="32"></iframe></td>
								<td>
									<a>更改</a>
									<div uk-dropdown="mode:click" style="background-color:rgb(244,247,251);max-height:400px;width:200px;overflow-y:auto">
										<div class="uk-grid uk-flex">
											<div class="uk-child-width-1-3 uk-grid-match" uk-grid style="width:220px">
												<div v-for="(s,index) in symbols" v-on:click="changeicon(s.name)">
													<div class="uk-card uk-card-body uk-card-hover" style="padding: 0px">
														<iframe v-bind:src="s.src" style="width:32px;height:32px"></iframe>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
					<h6 class="uk-heading-line uk-text-center"><span>分级间断点</span></h6>
					<br>
					<div style="margin-left:10px">
						分级方法：<select class="uk-select" id="classify_method" onchange="changeMethod()" style="width:120px">
							<option value="custom">自定义间隔</option>
							<option value="quantile">分位数分级</option>
						</select><br> 分级点：
						<br>
						<div style="width:85px">
							<input v-for="(item,index) in stops" :key="index" v-model="stops[index]" v-bind:disabled="disabled">
						</div>
						<button class="uk-button uk-button-primary uk-button-small" style="margin-top:10px" onclick="changestops()">确定</button>
						<ul class="uk-iconnav" style="float:right;margin-top: 15px">
							<li><a uk-icon="icon:plus-circle" onclick="changeStopNum('plus')" uk-tooltip="增加断点"></a></li>
							<li><a uk-icon="icon:minus-circle" onclick="changeStopNum('minus')" uk-tooltip="删除断点"></a></li>
						</ul>
					</div>
				</div>
			</ul>
		</div>
		<!-- 图层&数据栏 -->
		<div id="layer_group" style="position:absolute;width:13%;height:100%;z-index:1;background-color: white;display: none;">
			<!-- 数据栏 -->
			<div id="data_group" style="position:absolute;width:250px;top:0%;z-index:2;height:40%;background-color: white" uk-overflow-auto>
				<li id="data_title" class="uk-text-middle" style="margin-left:16.5px;margin-top:10px">数据列表</li><br>
				<span class="uk-label" style="margin-left:15px">系统数据</span>
				<ul class="uk-nav-default uk-nav-parent-icon" style="margin-left:15px;margin-top:10px" uk-nav>
					<li class="uk-parent">
						<a href="#">系统运算数据</a>
						<ul id="dataItem" class="uk-nav-sub">
							<li v-for="(item,index) in datalist" v-if="item.type=='shapefile'&&item.srs!=null&&item.srs.substr(8,25)=='SHANGHAI_LOCAL_COORDINATE'">
								<a href="#" v-on:click="chooseData(index)" v-bind:index="index" v-bind:draggable="draggable" v-on:dragstart="dragstart">{{item.name}}</a>
							</li>
						</ul>
					</li>
					<li class="uk-parent">
						<a href="#">系统结果数据</a>
						<ul id="dataResult" class="uk-nav-sub">
							<li v-for="(item,index) in data_result" v-if="item.type=='shapefile'&&item.srs!=null&&item.srs.substr(8,25)=='SHANGHAI_LOCAL_COORDINATE'">
								<a href="#" v-on:click="chooseData(index)" v-bind:index="index" v-bind:draggable="draggable" v-on:dragstart="dragstart">{{item.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
				<span class="uk-label" style="margin-left:15px;margin-top:10px">用户数据</span>
				<ul class="uk-nav-default uk-nav-parent-icon" style="margin-left:15px;margin-top:10px" uk-nav>
					<li class="uk-parent">
						<a href="#">用户运算数据</a>
						<ul id="user_dataItem" class="uk-nav-sub">
							<li v-for="(item,index) in user_datalist" v-if="item.type=='shapefile'&&item.srs!=null&&item.srs.substr(8,25)=='SHANGHAI_LOCAL_COORDINATE'">
								<a href="#" v-on:click="chooseData(index)" v-bind:index="index" v-bind:draggable="draggable" v-on:dragstart="dragstart">{{item.name}}</a>
							</li>
						</ul>
					</li>
					<li class="uk-parent">
						<a href="#">用户结果数据</a>
						<ul id="user_dataResult" class="uk-nav-sub">
							<li v-for="(item,index) in user_data_result" v-if="item.type=='shapefile'&&item.srs!=null&&item.srs.substr(8,25)=='SHANGHAI_LOCAL_COORDINATE'">
								<a href="#" v-on:click="chooseData(index)" v-bind:index="index" v-bind:draggable="draggable" v-on:dragstart="dragstart">{{item.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- 图层名称栏-->
			<div style="position:absolute;width:250px;top:40%;height:60%;background-color: white" >
				<li id="title" class="uk-text-middle" style="margin-top:10px;margin-left: 16px">图层列表</li>
				<hr style="margin-bottom:5px;margin-top:15px">
				<ul id="#iconnav" class="uk-iconnav" style="margin-left: 5px">
					<li><a uk-icon="icon: plus" uk-tooltip="添加图层" href="#addlayer" uk-toggle disabled="true"></a></li>
					<li><a uk-icon="icon: trash" onclick="deletelayer(layer_index)" uk-tooltip="删除图层"></a></li>
					<li><a uk-icon="icon: upload" uk-tooltip="上传地图" href="#uploadmap" uk-toggle></a></li>
				</ul>
				<hr style="margin-bottom:5px;margin-top:5px">
				<ul id="layer" class="uk-nav uk-nav-default" style="margin-left:10px;max-width: 240px;max-height: 31px">
					<li v-for="(l,index) in layers" v-bind:index="index" class="layer_list" style="margin-bottom:10px">
						<input class="layer_show" type="checkbox" style="width:13px;float: left;margin-top:9px" v-model="checked[index]" v-on:change="changeshow(index)"
						 title="显示/隐藏图层">
						<a v-on:click="test(index)" v-bind:index="index" style="color:rgb(86,103,122);overflow:hidden;text-overflow:ellipsis;white-space:nowrap"
						 title="点击以编辑该图层">{{l.name}}</a>
					</li>
					<div class="uk-placeholder uk-text-center" ondrop="dropEmpty(event)" ondragover="allowdrop(event)">拖入数据以添加图层</div>
				</ul>
			</div>
		</div>
		<!-- 添加图层框-->
		<div id="addlayer" uk-modal>
			<div class="uk-modal-dialog" style="height:300px;width:350px">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
					<h3>添加图层</h3>
				</div>
				<div class="uk-modal-body" style="max-height:150px;height:150px" uk-overflow-auto>
					图层id:<input id="layer_id" placeholder="(必填)" style="margin-bottom:30px"><br> 图层名称：
					<input id="layer_name" placeholder="(必填)" style="margin-bottom:30px" /><br> 图层类型：
					<select id="layer_type">
						<option value="head" disabled="true" selected="selected">--请选择--</option>
						<option value="point">点</option>
						<option value="polyline">线</option>
						<option value="polygon">面</option>
					</select>
				</div>
				<div class="uk-modal-footer uk-text-right">
					<button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
					<button class="uk-button uk-button-primary" onclick="addlayer()">确定</button>
				</div>
			</div>
		</div>
		<!-- 比选选项 -->
		<div id="compare_select" uk-offcanvas="overlay: true;flip:true" style="overflow: hidden;">
			<div id="markboard" class="uk-offcanvas-bar" style="background: #fff;padding: 40px 10px 30px 20px">
				<button class="uk-offcanvas-close" type="button" uk-icon="close" style="color:black"></button>
				<h5 id="compare_title" style="color: #333;margin-top: 0">选择比选成果</h5><br>
				<div id="compare_item" style="width:280px;height:80%">
					<ul class="uk-nav-default uk-nav-parent-icon" style="margin-left:10px" uk-nav>
						<li class="uk-parent" v-for="(item,index) in tasks">
							<a href="#" style="color:black">{{item.name}}</a>
							<ul class="uk-nav-default uk-nav-parent-icon" uk-nav style="margin-left:20px">
								<li class="uk-parent" v-for="(item1,index1) in tasks[index].modelinst">
									<a href="#" style="color:rgb(43, 40, 40)">{{item1.name}}</a>
									<ul class="uk-nav-sub">
										<li v-for="(item2,index2) in tasks[index].modelinst[index1].map">
											<a v-on:click="addcompare(item2)" style="color:rgb(71, 69, 69)">{{item2.style}}</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 上传地图框-->
		<div id="uploadmap" uk-modal>
			<div class="uk-modal-dialog" style="height:300px;width:350px">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
					<h3>上传地图</h3>
				</div>
				<div class="uk-modal-body" style="max-height:150px;height:150px" uk-overflow-auto>
					地图名称：<input id="map_name" placeholder="(必填)" style="margin-bottom:30px" /><br> 地图区域：
					<input id="map_district" placeholder="(必填)" style="margin-bottom:30px" /><br> 地图描述：
					<input id="map_description" placeholder="(可选)">
				</div>
				<div class="uk-modal-footer uk-text-right">
					<button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
					<button class="uk-button uk-button-primary" onclick="upload()">确定</button>
				</div>
			</div>
		</div>
</body>
<script>
	var compare_num = 0
	var colors = []
	var layer_index = -1
	var symbols = []
	var result_id = -1;
	var model_id=-1
	var tMap = null
	var json_url = ""
	var modelinst_id = -1;
	var pjws_id = -1;
	var task_id=-1
	const sh_style = STYLE
	var isAdd = false
	var isShow = new Array()
	$(window).load(function(){
		var Request = new Object();
		Request = GetRequest();
		result_id = (Request['resultid']==undefined)?-1:Request['resultid']
		usename= Request['username']
		json_url = (Request['mapurl']==undefined)?"":Request['mapurl']
		model_id = 	(Request['modelid']==undefined)?-1:Request['modelid']
		modelinst_id = (Request['modelinstid']==undefined)?-1:Request['modelinstid']
		pjws_id = (Request['pjwsid']==undefined)?17:Request['pjwsid']
		task_id = (Request['taskid']==undefined)?31:Request['taskid']
		$("#return").attr("href","./task.html?pjwsid="+pjws_id);
		if (json_url == "") {
			UIkit.modal("#modal-example").show();
		}
		else{
			json_url = "http://"+ip+":"+port+"/"+json_url
			$.ajax({
				type: "GET",
				url: json_url,
				dataType:"json",
				async: false,
				cache: false,
				crossDomain: true == !(document.all),
				success: function (result) {
					result.basemap = sh_style;
					tMap = new OIASMap("map",result)
					setTimeout(function(){
					layergroup.layers = tMap.layers //更改相应控件的驱动数据
					for (var i = 0; i < tMap.layers.length; i++) {
						isShow.push(false);
					}
					title.mapname = tMap.name
					tMap.layers.forEach(function(layer,index){
						if(layer.visibility=="visible"){
							layergroup.checked.push(true)
						}
						else{
							layergroup.checked.push(false)
						}
						createStops(index);
					})
					document.getElementById("layer_group").style.display = "block"
				},1000)				
				},
				error:function(textStatus){
					console.log(textStatus)
				}
			});
		}
		if (modelinst_id == -1) {
			map_template.models = mymaps
		}
		else {
			mymaps.forEach(function (item, index) {
				if (item.type != "通用模版") {
					map_template.models.push(item)
				}
			})
		}
		//获取颜色
		$.ajax({
			type: "GET",
			url: "http://"+ip+":"+port+"/"+"rest/maps/colors",
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				colors = result
				result.forEach(function (item, index) {
					if (item.color != null) {
						item.color = item.color.split(",")
						title_right.bands.push(item)
					}
				})
			}
		});
		//获取符号
		$.ajax({
			type: "GET",
			url: "http://"+ip+":"+port+"/"+"rest/maps/symbols/whu",
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				result.forEach(function (item, index) {
					var source = item.src
					source = "http://"+ip+":"+port+"/"+"" + source.replace(/\\/g, "/")
					item.src = source
				})
				symbols = result
				title_right.symbols = result
			}
		});	
		//获取系统运算数据
		$.ajax({
			type: "GET",
			url: "http://"+ip+":"+port+"/"+"rest/datastores/whu",
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				result.forEach(function (item, index) {
					dataItem.datalist.push(item)
				})
			}
		});	
		//获取系统结果数据
		$.ajax({
			type: "GET",
			url: "http://"+ip+":"+port+"/"+"rest/results/whu",
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				result.forEach(function (item, index) {
					dataResult.data_result.push(item)
				})
			}
		});	
		//获取用户计算数据
		$.ajax({
			type: "GET",
			url: "http://"+ip+":"+port+"/"+"rest/datastores/"+username,
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				result.forEach(function (item, index) {
					user_dataItem.user_datalist.push(item)
				})
			}
		});	
		//获取用户结果数据
		$.ajax({
			type: "GET",
			url: "http://" + ip + ":" + port + "/" + "rest/results/" + username,
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				result.forEach(function (item, index) {
					user_dataResult.user_data_result.push(item)
				})
			}
		});
		//获取所有任务
		$.ajax({
			type: "GET",
			url: "http://" + ip + ":" + port + "/rest/workspaces/" + pjws_id + "/tasks/" + username,
			async: false,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (resultTask) {
				resultTask.forEach(function (itemTask) {
					//获取所有模型实例
					$.ajax({
						type: "GET",
						url: "http://" + ip + ":" + port + "/rest/workspaces/" + pjws_id + "/tasks/" + itemTask.id + "/modelinsts/" + username,
						async: false,
						cache: false,
						crossDomain: true == !(document.all),
						success: function (resultModel) {
							itemTask.modelinst = []
							resultModel.forEach(function (itemModel) {
								//获取所有地图成果
								$.ajax({
									type: "GET",
									url: "http://" + ip + ":" + port + "/rest/modelinst/" + itemModel.id + "/maps/styles/" + username,
									async: false,
									cache: false,
									crossDomain: true == !(document.all),
									success: function (resultMap) {
										itemModel.map = []
										resultMap.forEach(function (itemMap) {
											itemModel.map.push(itemMap)
										})
									}
								})
								itemTask.modelinst.push(itemModel)
							})
						}
					})
					compareItem.tasks.push(itemTask)
				})
			}
		});
		//获取当前工作空间名称
		$.ajax({
			type: "GET",
			url: "http://" + ip + ":" + port + "/rest/workspaces/"+username+"/"+pjws_id,
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				model_title.ws_name = result.name
			}
		});
		//获取当前任务名称
		$.ajax({
			type: "GET",
			url: "http://" + ip + ":" + port + "/rest/workspaces/" + pjws_id + "/tasks/" + username + "/" + task_id,
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				model_title.task_name = result.name
			}
		});
		//获取当前模型实例名称
		$.ajax({
			type: "GET",
			url: "http://" + ip + ":" + port + "/rest/workspaces/"+pjws_id+"/tasks/"+task_id+"/modelinsts/"+username+"hougiser/"+modelinst_id,
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				model_title.mi_name = result.name
			}
		});
	});
	function showmodal(){
		if (isAdd != true) {
			//获取模型Id
			$.ajax({
				type: "GET",
				url: "http://" + ip + ":" + port + "/rest/workspaces/" + pjws_id + "/tasks/" + task_id + "/modelinsts/" + username + "/" + modelinst_id,
				async: false,
				cache: false,
				crossDomain: true == !(document.all),
				success: function (result) {
					model_id = result.modelid
				}
			});
			mymaps.forEach(function (item, index) {
				if (item.type == "通用模版" && item.model == model_id) {
					map_template.models.push(item)
				}
			})
			isAdd = true
		}
		UIkit.modal("#modal-example").show();
	}
	function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
        	var str = url.substr(1);
        	strs = str.split("&");
        	for(var i = 0; i < strs.length; i ++) {
        		theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
        	}
        }
        return theRequest;
    }
    function showSource(index) {
    	if (tMap.layers[index].sourceLayer != "") {
    		alert("此图层已有数据！")
    	}
    	else {
    		var sourceJson = null
    		var sourceString = ""
    		var get_id = null
    		if (document.getElementById("datasource").options[document.getElementById("datasource").selectedIndex].value == "blind") {
    			get_id = (result_id=-1)?72:result_id
    			$.ajax({
    				type: "GET",
    				url: "http://"+ip+":"+port+"/" + "rest/datastores/whu/"+get_id+".geojson?datatype=results",
    				async: false,
    				cache: false,
    				crossDomain: true == !(document.all),
    				success: function (result) {
    					sourceJson = result
    				}
    			});
    			sourceString = JSON.stringify(sourceJson)
    			sourceString = "{\"type\":\"FeatureCollection\", \"features\":" + sourceString + "}"
    			sourceJson = JSON.parse(sourceString)
    			console.log(sourceJson)
    			tMap.addSource(tMap.layers[index].id, "http://10.6.227.13:8080/test/layers/data_blind.json")
    			if (tMap.layers[index].sourceLayer != "") {
    				alert("数据添加成功！")
    			}
    		}
    		else {
    			get_id = (result_id=-1)?73:result_id
    			$.ajax({
    				type: "GET",
    				url: "http://"+ip+":"+port+"/" + "rest/datastores/whu/73.geojson?datatype=results",
    				async: false,
    				cache: false,
    				crossDomain: true == !(document.all),
    				success: function (result) {
    					sourceJson = result
    				}
    			});
    			sourceString = JSON.stringify(sourceJson)
    			sourceString = "{\"type\":\"FeatureCollection\", \"features\":" + sourceString + "}"
    			sourceJson = JSON.parse(sourceString)
    			tMap.addSource(tMap.layers[index].id, sourceJson)
    			if (tMap.layers[index].sourceLayer != "") {
    				alert("数据添加成功！")
    			}
    		}
    		var layer_id = tMap.layers[layer_index].id
    		if(tMap.layers[layer_index].sourceLayer!=""){
    			tMap.mapInteraction(tMap.map,layer_id,tMap.layers[layer_index].paint.field,"info")
    		}
    		createStops(index)
    	}
    }
    function createStops(index){
    	var layer = tMap.layers[index]
    	var url = layer.sourceLayer
    	var sourceJson = null
    	if (typeof (url) == "string") {
    		$.ajax({
    			type: "GET",
    			url: url,
    			async: false,
    			cache: false,
    			crossDomain: true == !(document.all),
    			success: function (result) {
    				sourceJson = result
    			}
    		});
    	}
    	else {
    		sourceJson = url
    	}
    	var data = layer.getDataByJson(sourceJson)
    	var stops = layer.classifyByQuantile(data, layer.paint.classify_num)
    	var id = layer.id
    	tMap.setLayerPaint(id, "stops", stops)
    	layer.setLayerByNewStops(tMap.map)
    	title_right.stops.splice(0,title_right.stops.length)
    	var newstops = createStopText(stops)
    	newstops.forEach(function(item,index){
    		title_right.stops.push(item)
    	})
    	title_right.disabled = true
    }
    function changeicon(){
    	if($("#fangxiang").attr("uk-icon")=="icon:chevron-right;ratio:2"){
    		$("#fangxiang").attr("uk-icon","icon:chevron-left;ratio:2");
    	}else{
    		$("#fangxiang").attr("uk-icon","icon:chevron-right;ratio:2");
    	}
    }
    function changestops(){
    	if (tMap.layers[layer_index].sourceLayer == "") {
    		alert("该图层尚未添加数据！")
    	}
    	else {
    		var message = title_right.stops
    		var newStops = []
    		for (var i = 0; i < message.length - 1; i++) {
    			newStops.push(Number(message[i].split("~")[1]))
    		}
    		var id = tMap.layers[layer_index].id
    		tMap.setLayerPaint(id, "classify_num", message.length)
    		tMap.setLayerPaint(id, "stops", newStops)
    		tMap.layers[layer_index].setLayerByNewStops(tMap.map)
    	}
    }
    function changeField(){
    	var id = tMap.layers[layer_index].id
    	var obj = document.getElementById("fields");
    	var index = obj.selectedIndex;
    	var field = obj.options[index].value;
    	tMap.setLayerPaint(id,"field",field)
    	createStops(layer_index)
    }
    function changeStopNum(type){
    	if (tMap.layers[layer_index].sourceLayer == "") {
    		alert("该图层尚未添加数据！")
    	}
    	else {	
    		var num = title_right.layer.paint.classify_num
    		var stops = []
    		stops = title_right.layer.paint.stops
    		var method = title_right.layer.paint.classify_method
    		switch (type) {
				case "plus": {
					if (title_right.layer.type != "point") {
						var color_scheme = title_right.layer.paint.classify_color_scheme
						var color = null
						for (i = 0; i < colors.length; i++) {
							if (colors[i].name == color_scheme) {
								color = colors[i].color
								break;
							}
						}
						var l = color.length
						if (l < num + 1) {
							alert("颜色数不足，请重新选择配色方案后再操作！")
						}
						else {
							var id = tMap.layers[layer_index].id
							tMap.setLayerPaint(id, "classify_num", num + 1)
							if (method == "自定义间隔") {
								stops.push(stops[num - 2])
								tMap.setLayerPaint(id, "stops", stops)
								title_right.stops = createStopText(stops)
							}
							else if (method == "分位数分级") {
								createStops(layer_index)
							}
						}
					}
					else {
						var icon_scheme = title_right.layer.paint.classify_icon_scheme
						var id = tMap.layers[layer_index].id
							tMap.setLayerPaint(id, "classify_num", num + 1)
							if (method == "自定义间隔") {
								stops.push(stops[num - 2])
								tMap.setLayerPaint(id, "stops", stops)
								title_right.stops = createStopText(stops)
							}
							else if (method == "分位数分级") {
								createStops(layer_index)
							}
					}
				} break;
    			case "minus": {
    				var id = tMap.layers[layer_index].id
    				tMap.setLayerPaint(id, "classify_num", num-1)
    				if(method=="自定义间隔"){
    					stops.splice(num-2,1)
    					tMap.setLayerPaint(id, "stops", stops)
    					title_right.stops = createStopText(stops)
    				}
    				else if(method=="分位数分级"){
    					createStops(layer_index)
    				}
    			} break;
    			default:
    			break;
    		}
    	}
    }
    function upload(){
    	var descrip = ""
    	if(document.getElementById("map_name").value==""||document.getElementById("map_district").value==""){
    		alert("请输入完整信息！")
    	}
    	else{
    		if(document.getElementById("map_description").value!=""){
    			descrip = document.getElementById("map_description").value
    		}
    		tMap.name = document.getElementById("map_name").value
    		var mapjson = tMap.getJson()
    		mapjson = JSON.stringify(mapjson)
    		$.ajax({
    			type: "POST",
    			url: "http://"+ip+":"+port+"/"+"rest/modelinst/"+modelinst_id+"/maps/styles/"+username+"?default=false&district="+document.getElementById("map_district").value+"&description="+descrip+"&model="+model_id+"&workspace=8",
    			async: false,
    			cache: false,
    			data:mapjson,
    			contentType:"application/json",
    			crossDomain: true == !(document.all),
    			success: function (data) {
    				alert("上传成功！")
    			},
    			error:function(textStatus){
    				console.log(textStatus)
    			}
    		});	
    	}
    }
    function deletelayer(index){
    	if (index == -1) {
    		alert("请选择要删除的图层！")
    	}
    	else {
    		var assure = confirm("确认要删除吗？")
    		if (assure == true) {
    			if (tMap.layers[index].sourceLayer != "") {
    				tMap.removeLayer(layergroup.layers[index].id)
    			}
    			else {
    				tMap.layers.splice(index, 1)
				}
				layergroup.checked.splice(index,1)
    			if (isShow[index] == true) {
    				isShow[index] == false
    				document.getElementById("layer-edit").style.display = "none"
				}
				isShow.splice(index,1)
				layer_index=-1
    		}
    	}
    }
    function addlayer(){
    	var hasId = (document.getElementById("layer_id").value=="")?false:true
    	var hasName = (document.getElementById("layer_name").value=="")?false:true
    	var hasType = (document.getElementById("layer_type").selectedIndex>0)?true:false
    	if(hasId&&hasName&&hasType){
    		UIkit.modal("#addlayer").hide()
    		var layer_json = {
    			id: "", name: "", type: "", sourceLayer: "", paint: "", visibility: ""
    		}
    		var paint_json={
    			field:"",classify_method:"分位数分级",condition_type:"case",stops:[],classify_num:1,classify_color_scheme:""
			}
			var point_json={
				field:"",classify_method:"分位数分级",condition_type:"case",stops:[],classify_num:1,classify_icon_scheme:""
			}
    		layer_json.id = document.getElementById("layer_id").value	
    		layer_json.name = document.getElementById("layer_name").value
			layer_json.type = document.getElementById("layer_type").options[document.getElementById("layer_type").selectedIndex].value
			if(layer_json.type=="point"){
				layer_json.paint = point_json	
			}
			else {
				layer_json.paint = paint_json
			}
    		layer_json.visibility="visible"
    		var newLayer = new OIASLayer(layer_json)
    		tMap.addLayer(layer_json)
			layergroup.checked.push(true)
			isShow.push(false)
    	}
    	else{
    		alert("请输入完整信息！")
    	}
    }
    function getField(sourceJson){
    	var properties = sourceJson.features[0].properties
    	var fields = []
    	for (var i in properties) {
    		fields.push(i)
    	}
    	return fields
    }
    function createStopText(stops){
    	var message = []
    	stops.forEach(function (stop, index) {
    		if (index == 0) {
    			message.push("-∞~" + stop)
    		}
    		else if (index > 0 && index < stops.length) {
    			message.push(stops[index - 1] + "~" + stop)
    		}
    		if (index == stops.length - 1) {
    			message.push(stop + "~+∞")
    		}
    	})
    	return message
    }
    function changeMethod(){
    	var target = document.getElementById("classify_method")
    	var index= target.selectedIndex
    	var method = target.options[index].text
    	var id = tMap.layers[layer_index].id
    	if(method=="自定义间隔"){
    		tMap.setLayerPaint(id, "classify_method", method)
    		title_right.disabled = false
    	}
    	else{
    		createStops(layer_index)
    		tMap.setLayerPaint(id, "classify_method", method)
    		title_right.disabled = true
    	}
    }
    function dropEmpty(e){
		var data = JSON.parse(e.dataTransfer.getData("text / plain"));
		var id = data.id  //数据id
		var type = data.type
		var owner = data.owner
		var sourceJson = null
		var sourceString = ""
		$.ajax({
			type: "GET",
			url: "http://" + ip + ":" + port + "/" + "rest/datastorefile/" + owner + "/" + id + ".geojson?datatype=" + type,
			async: true,
			cache: false,
			crossDomain: true == !(document.all),
			success: function (result) {
				var assure = confirm("是否将数据添加到新图层？")
				if (assure == true) {
					var layer_json = {
						id: "", name: "", type: "", sourceLayer: "", paint: "", visibility: ""
					}
					var paint_json = {
						field: "", classify_method: "分位数分级", condition_type: "case", stops: [], classify_num: 1, classify_color_scheme: ""
					}
					var point_json = {
						field: "", classify_method: "分位数分级", condition_type: "case", stops: [], classify_num: 1, classify_icon_scheme: ""
					}
					sourceJson = result
					sourceString = JSON.stringify(sourceJson)
					sourceString = "{\"type\":\"FeatureCollection\", \"features\":" + sourceString + "}"
					sourceJson = JSON.parse(sourceString)
					layer_json.sourceLayer = sourceJson
					var length = tMap.layers.length
					layer_json.id = result[0].id + "_"+(length+1).toString()
					layer_json.name = result[0].id + "_"+(length+1).toString()
					if (result[0].geometry.type == "Point") {
						layer_json.paint = point_json
						layer_json.type = "point"
					}
					else {
						layer_json.paint = paint_json
						if(result[0].geometry.type == "MultiPolygon"){
							layer_json.type = "polygon"
						}
						else{
							layer_json.type = "polyline"
						}
					}
					layer_json.visibility = "visible"
					var newLayer = new OIASLayer(layer_json)
					tMap.addLayer(layer_json)
					layergroup.checked.push(true)
					isShow.push(false)
				}
			},
			error: function () {
				alert("数据添加失败！")
			}
		});	
	}
	function allowdrop(e){
		e.preventDefault();
	}
	mapboxgl.accessToken = 'pk.eyJ1IjoieHVzaHVvbCIsImEiOiJjamlmZm5ueW0wNG5lM3ZsM3doZHk3d28zIn0._jbWWcLFT8PhcJXdXkdxaA';
	//Vue对象们
	var map_template = new Vue({
		el: "#map_template",
		data: {
			models: [
			]
		},
		methods: {
			addModel: function (item,index) {
				switch(item.type){
					case "空白模版":{
					} break;
					case "综合模版":{
						var modelID = -1
						var models = []
						$.ajax({
							type: "GET",
							url: "http://" + ip + ":" + port + "/rest/maps/themes/2/basemaps",
							async: true,
							cache: false,
							crossDomain: true == !(document.all),
							success: function (result) {
								result.forEach(function (itemModel) {
									models.push(itemModel)
								})
								models.forEach(function (itemModel, index) {
									if (itemModel.source.substr(6) === item.name) {
										var source = itemModel.style
										source = "http://" + ip + ":" + port + "/" + source.replace(/\\/g, "/")
										$.ajax({
											type: "GET",
											url: source,
											async: false,
											cache: false,
											crossDomain: true == !(document.all),
											success:function(result){
												document.getElementById('map').innerHTML = ""
												result.basemap = sh_style
												result.layers.forEach(function(layer){
													layer.sourceLayer = ""
												})
												tMap = null
												tMap = new OIASMap("map", result)
												layergroup.layers = tMap.layers //更改相应控件的驱动数据
												var layers = result.layers
												isShow.length = 0
												for (var i = 0; i < layers.length; i++) {
													isShow.push(false);
												}
												title.mapname = result.name
												tMap.layers.forEach(function (layer, index) {
													if (layer.visibility == "visible") {
														layergroup.checked.push(true)
													}
													else {
														layergroup.checked.push(false)
													}
												})
												UIkit.modal("#modal-example").hide()
												document.getElementById("layer_group").style.display = "block"
											}
										})
									}
								})
							},
							error: function () {
								alert("找不到对应模版！")
							}
						})
					} break;
					case "通用模版":{
						
					} break;
				}
			}
		}
	})
	var layergroup = new Vue({
		el:"#layer",
		data: {
			layers: [],
			checked: []
		},
		methods:{
			test: function (id) {
				for(var i=0;i<isShow.length;i++){
					if(i!=id){
						isShow[i]=false
					}
				}
				isShow[id] = !isShow[id]
				if (isShow[id]) {
					title_right.layer = this.layers[id]
					//改变图层栏底色
					if(layer_index!=-1){
						$(".layer_list")[layer_index].style.backgroundColor = "white"
					}
					layer_index = id
					//初始化方法框
					title_right.stops = createStopText(tMap.layers[id].paint.stops)
					var method = tMap.layers[id].paint.classify_method
					var target = document.getElementById("classify_method")
					var options = target.options
					for(i=0;i<options.length;i++){
						if (options[i].text == method) {
							target.options[i].selected = true
							if (method != "自定义间隔") {
								title_right.disabled = true
							}
							else{
								title_right.disabled = false
							}
						}
					}
					$(".layer_list")[id].style.backgroundColor = "rgb(198,210,225)"
					document.getElementById("layer-edit").style.display = "block"
					//初始化色带选项
					if (tMap.layers[layer_index].type != "point") {
						title_right.symbol_show = ""
						if (this.layers[id].paint.classify_color_scheme != "") {
							var color = null
							for (var i = 0; i < colors.length; i++) {
								if (colors[i].name == this.layers[id].paint.classify_color_scheme) {
									color = colors[i].color
									break
								}
							}
							var l = color.length

							var c = document.getElementById("myCanvas");
							var ctx = null
							for (i = 0; i < l; i++) {
								ctx = c.getContext("2d")
								ctx.fillStyle = color[i]
								ctx.fillRect((89 * i) / l, 0, (89 * (i + 1) / l), 19)
							}
						}
					}
					//初始化符号选项
					else{
						var c = document.getElementById("myCanvas");
						var cxt = c.getContext("2d");
						c.height = c.height;  
						var icon = null
						for (var i = 0; i < symbols.length; i++) {
							if (symbols[i].name == this.layers[id].paint.classify_icon_scheme) {
								icon = symbols[i]
								break
							}
						}
						if (icon != null) {
							title_right.symbol_show = icon.src
						}
					}
					//初始化字段项
					var obj = document.getElementById('fields'); 
					obj.options.length=1; 
					if(tMap.layers[layer_index].sourceLayer!=""&&tMap.layers[layer_index].sourceLayer!=null){
						var sourceJson = tMap.layers[layer_index].sourceLayer
						var fields = getField(sourceJson)
						fields.forEach(function(field,index){
							obj.options.add(new Option(field,field));
							if(field==tMap.layers[layer_index].paint.field){
								obj.options[index].selected = true;  
							}
						})
					}
				}
				else {
					title_right.layer = null
					$(".layer_list")[id].style.backgroundColor = "white"
					layer_index = -1
					document.getElementById("layer-edit").style.display = "none"
				}
			},
			changeshow:function(index){
				if (this.layers[index].sourceLayer == "") {
					alert("该图层尚未添加数据！")
					this.checked[index] = !this.checked[index]
				}
				else {
					if (this.checked[index] == true) {
						tMap.setLayer(tMap.layers[index].id, "visibility", "visible")
					}
					else {
						tMap.setLayer(tMap.layers[index].id, "visibility", "none")
					}
				}
			},
		}
	})
	var title=new Vue({
	el:"#title",
	data:{
		mapname:null
	}
})
	var compareItem =new Vue({
	el:"#compare_item",
	data:{
		tasks:[],
		modelinsts:[],
		maps:[]
	},
	methods:{
		addcompare(item){
			var assure = confirm("将该成果图添加到比选方案？")
			if (assure == true) {
				var style = item.style
				var map_url = "http://" + ip + ":" + port + "/" + style
				$.ajax({
					type: "GET",
					url: map_url,
					async: false,
					cache: false,
					crossDomain: true == !(document.all),
					success: function (result) {
						result.basemap = sh_style;
						compare.tMaps.push(compare_num)
						setTimeout(function () {
							var tMapItem = new OIASMap(compare_num.toString(), result, true)
							compare_num = compare_num + 1
						}, 1500)
					}
				});
			}
		}
	}
}) 
	var title_right=new Vue({
	el: "#layer-edit",
	data: {
		layer: {
			id: "", name: "", type: "", sourceLayer: "", paint: "", visibility: ""
		},
		bands:[],
		symbols:[],
		symbol_show:"",
		stops:[],
		disabled:false,
		sourceLayer:"拖入数据添加至图层"
	},
	methods: {
		changecolor: function (color_scheme) {
			var i = -1
			var color = null
			for (i = 0; i < colors.length; i++) {
				if (colors[i].name == color_scheme) {
					color = colors[i].color
					break;
				}
			}
			var l = color.length

			var c = document.getElementById("myCanvas");
			var ctx = null
			for (i = 0; i < l; i++) {
				ctx = c.getContext("2d")
				ctx.fillStyle = color[i]
				ctx.fillRect((89 * i) / l, 0, (89 * (i + 1) / l), 19)
			}
			tMap.setLayerPaint(tMap.layers[layer_index].id, "classify_color_scheme", color_scheme)				
		},
		changeicon:function(icon_scheme){
			var i = -1
			var symbol = null
			symbols.some(function(item,index){
				if(item.name == icon_scheme){
					symbol = item
					return true
				}
			})
			this.symbol_show = symbol.src
			if(tMap.layers[layer_index].type!="point"){
				alert("该图层没有符号属性！")
			}
			else{
				tMap.setLayerPaint(tMap.layers[layer_index].id,"classify_icon_scheme",icon_scheme)
			}
		},
		dropDown(e) {
				var data = JSON.parse(e.dataTransfer.getData("text / plain"));
				var id = data.id  //数据id
				var type = data.type
				var owner = data.owner
				var sourceJson = null
				var sourceString = ""
				$.ajax({
					type: "GET",
					url: "http://" + ip + ":" + port + "/" + "rest/datastorefile/" + owner + "/" + id + ".geojson?datatype=" + type,
					async: false,
					cache: false,
					crossDomain: true == !(document.all),
					success: function (result) {
						if (tMap.layers[layer_index].sourceLayer != "" && tMap.layers[layer_index].sourceLayer != null) {
							var assure = confirm("此图层已有数据，是否要替换？")
							if (assure == true) {
								var layerId = tMap.layers[layer_index].id
								sourceJson = result
								sourceString = JSON.stringify(sourceJson)
								sourceString = "{\"type\":\"FeatureCollection\", \"features\":" + sourceString + "}"
								sourceJson = JSON.parse(sourceString)
								
								tMap.changeSource(layerId, sourceJson)
								title_right.sourceLayer = sourceJson.features[0].id
								alert("数据添加成功！")
								createStops(layer_index)
							}
						}
						else {
							sourceJson = result
							sourceString = JSON.stringify(sourceJson)
							sourceString = "{\"type\":\"FeatureCollection\", \"features\":" + sourceString + "}"
							sourceJson = JSON.parse(sourceString)
							tMap.addSource(tMap.layers[layer_index].id, sourceJson)
							alert("数据添加成功！")
							title_right.sourceLayer = sourceJson.features[0].id
							createStops(layer_index)
						}
						var obj = document.getElementById('fields');
						obj.options.length = 1;
						var source = tMap.layers[layer_index].sourceLayer
						var fields = getField(source)
						fields.forEach(function (field, id) {
							obj.options.add(new Option(field, field));
							if (field == tMap.layers[layer_index].paint.field) {
								obj.options[id].selected = true;
							}
						})
					},
					error:function(){
						alert("数据添加失败！")
					}
				})
			},
		allowDrop(e) {
				e.preventDefault();
			}
	}
})
	var dataItem= new Vue({
	el:"#dataItem",
	data:{
		datalist:[],
		draggable:'true',
		dataId:-1
	},
	methods:{
		dragstart(e){
			var index = e.target.attributes.index.value
			dataId = this.datalist[index].id
			var da = {
				id:dataId,
				type:"data",
				owner:"whu"
			}
			e.dataTransfer.effectAllowed = 'move';
			e.dataTransfer.setData("text / plain", JSON.stringify(da))
		}
	}
})
	var dataResult = new Vue({
	el:"#dataResult",
	data:{
		data_result:[],
		draggable:'true',
		resultId:-1
	},
	methods:{
		dragstart(e){
			var index = e.target.attributes.index.value
			resultId = this.data_result[index].id
			var da = {
				id:resultId,
				type:"results",
				owner:"whu"
			}
			e.dataTransfer.effectAllowed = 'move';
			e.dataTransfer.setData("text / plain", JSON.stringify(da))
		}
	}
})
	var user_dataItem= new Vue({
	el:"#user_dataItem",
	data:{
		user_datalist:[],
		draggable:'true',
		dataId:-1
	},
	methods:{
		dragstart(e){
			var index = e.target.attributes.index.value
			dataId = this.user_datalist[index].id
			var da = {
				id:dataId,
				type:"user_data",
				owner:username
			}
			e.dataTransfer.effectAllowed = 'move';
			e.dataTransfer.setData("text / plain", JSON.stringify(da))
		}
	}
})
	var user_dataResult = new Vue({
	el:"#user_dataResult",
	data:{
		user_data_result:[],
		draggable:'true',
		resultId:-1
	},
	methods:{
		dragstart(e){
			var index = e.target.attributes.index.value
			resultId = this.user_data_result[index].id
			var da = {
				id:resultId,
				type:"user_results",
				owner:username
			}
			e.dataTransfer.effectAllowed = 'move';
			e.dataTransfer.setData("text / plain", JSON.stringify(da))
		}
	}
})
	var compare = new Vue({
		el: "#compare",
		data: {
			tMaps: []
		},
		methods: {
			deleteCompare(index) {
				var assure = confirm("确认删除该比选方案？")
				if (assure == true) {
					$(".compare")[index].remove()
					this.tMaps.length = compare_num - 1
					compare_num = compare_num - 1
				}
			}
		}
})
	var model_title = new Vue({
	el:"#model_title",
	data:{
		ws_name:"",
		task_name:"",
		mi_name:""
	}
})
</script>
</html>